/* Paleta de colores */
:root {
    --color-primario: #2C3E50;
    --color-secundario: #34495E;
    --color-acento: #3498DB;
    --color-fondo: #ECF0F1;
    --color-texto: #333333;
  }
  
  /* Estilos generales */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-fondo);
    color: var(--color-texto);
  }
  
  /* Estilos del encabezado */
  header {
    background-color: var(--color-primario);
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }

  #navbar {
    display: flex;
    justify-content: space-between;/* Distribuye los elementos a los extremos */
    align-items: center; /*Centra verticalmente los elementos */
}
  
  #spannombreusuario {
    display: flex;
    order: 1;
    font-weight: bold;
    font-size: 18px;
  }
  
  #pyl {
    display: flex;
    order: 2;
    justify-content: flex-end;
    /*padding-left: 500px;*/
    /*justify-content: flex-end;*/
    /* justify-content: space-between;
    align-items: center; */
    
  }

  #navbaropciones {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  
  #navbaropciones li {
    /* margin-left: 20px; */
    display: inline-block; /* Para que los elementos estén en línea */
    margin-left: 10px; /* Espaciado entre los elementos */
  }
  
  #navbaropciones a,
  #btnLogout {
    display: flex;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: transparent;
    border: none;
    cursor: pointer;

  }
  
  #navbaropciones a:hover,
  #btnLogout:hover {
    background-color: var(--color-secundario);
  }
  
  /* Estilos de la tabla */
  #tablaDetalle {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #tablaDetalle th,
  #tablaDetalle td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  #tablaDetalle th {
    background-color: var(--color-secundario);
    color: #fff;
  }
  
  /* Estilos de los botones */
  #divBotones {
    margin-top: 20px;
    text-align: center; /* Centrar los botones */
  }
  
  #divBotones button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: var(--color-acento);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #divBotones button:hover {
    background-color: var(--color-secundario);
  }
  
  /* Estilos de la gráfica */
  #divgrafica {
    margin-top: 20px;
    width: 300px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: auto; /* Centrar la gráfica horizontalmente */
    margin-right: auto;
  }